<p>
  ID: {{user.id}}
</p>
<p>
  Name: {{user.name}}
</p>
<p>
  Address: {{user.address}}
</p>
<p>
  Result: {{sayHi()}}
</p>

<h2>Value of I: {{i}}</h2>
<button (click)="addCount()">Update i</button>
<button (click)="delCount()">Delete i</button>
<p>
  <input type="text" #fullName>
  <button (click)="readName(fullName.value)">Read Name</button>
</p>
<p>
  Name:{{nameInput}}
</p>

<p>
  <input type="text" #age>
  <button (click)="readAge(age.value)">age</button>
</p>
<!--- NG directive ngIf ngFor-->
<div *ngIf="validAge; else falseBlock">
  Valid data
</div>

<ng-template #falseBlock>
  Invalid data
</ng-template>

<select>
  <option *ngFor="let m of menus" [value]="m">{{ m }}</option>
</select>
<p>
  <select name="" id="">
    <option *ngFor="let c of courses" [value]="c.id">{{c.title}}</option>
  </select>
</p>